x11-window-title=Ordo

app-env-amend=XDG_SESSION_TYPE=wayland:XDG_CURRENT_DESKTOP=Ordo

# terminal
keybind=ctrl+alt+t:kitty
# screenshot
keybind=ctrl+alt+s:sh -c "grim ~/Pictures/screenshot-\$(date -Iseconds).png"
# app launcher
keybind=meta+Space:!bemenu-run -B wayland

# window adjustments
keybind=meta+d:@toggle_maximized
keybind=meta+f:@toggle_fullscreen
keybind=meta+q:@close_app
keybind=ctrl+alt+q:@kill_app

# set active workspace
keybind=meta+1:@set_workspace_1
keybind=meta+2:@set_workspace_2
keybind=meta+3:@set_workspace_3
keybind=meta+4:@set_workspace_4
keybind=meta+5:@set_workspace_5
keybind=meta+6:@set_workspace_6
keybind=meta+7:@set_workspace_7
keybind=meta+8:@set_workspace_8
keybind=meta+9:@set_workspace_9
keybind=meta+0:@set_workspace_0

keybind=meta+k:@set_previous_workspace
keybind=meta+l:@set_next_workspace

# move active window to workspace
keybind=ctrl+alt+1:@move_to_workspace_1
keybind=ctrl+alt+2:@move_to_workspace_2
keybind=ctrl+alt+3:@move_to_workspace_3
keybind=ctrl+alt+4:@move_to_workspace_4
keybind=ctrl+alt+5:@move_to_workspace_5
keybind=ctrl+alt+6:@move_to_workspace_6
keybind=ctrl+alt+7:@move_to_workspace_7
keybind=ctrl+alt+8:@move_to_workspace_8
keybind=ctrl+alt+9:@move_to_workspace_9
keybind=ctrl+alt+0:@move_to_workspace_0